<!DOCTYPE html>
<html>
	<head>
		<title>UW Design Show 2018</title>
		<link rel="icon" type="image/png" href="icon.png">
		<link href="resources/{{ currentSite.handle }}/teaser.css" type="text/css" rel="stylesheet" />
	</head>

	<body onload="setTimeout(playVid, 1000);">
		<div id="vidiv">
			<video id="video" width="100%" preload muted class="vid">
			    	<source src="resources/{{ currentSite.handle }}/teaser.mp4" type="video/mp4" />
			</video>
		</div>
		<script>
			var video = document.getElementById("video");

			function playVid() {
				var temp = window.pageYOffset;
					video.play();
			}


		</script>
	</body>
</html>