body, html {
	font-family: sans-serif;
	cursor: default;
	margin: 0;
	background-color: #000;
	height: 100%;
}

#vidiv {
	height: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	margin: 0;
}

#vidiv video{	
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 80%; 
	height: 80%;
}